.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  text-align: center;
}

.error h3 {
  color: red;
}

.error button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(45, 39, 39, 0.85);
  border: 2px solid red;
  color: white;
  padding: 0.3rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.error button:hover,
.error button:active {
  background-color: #641e03;
  border-color: #641e03;
}
